@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');
/*@import "pages/_home.css";
@import "pages/_category.css";
@import "pages/_single.css";
@import "pages/_contact.css";
@import "pages/_about.css";
@import "accounts/_register-login.css";
@import "pages/_terms.css";
@import "footer.css";
@import "pages/user_profile.css";
@import "pages/_form.css";
@import "/css/admin_css.css";*/
body {
  margin: 0;
  background-color: #f4f7fd;
  position: relative;
}

a {
  text-decoration: none;
}

#header {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  /* position: relative; */
  /* background: pink; */
}

#header .brand-container {
  display: flex;
  z-index: 9;
}

#header .brand-container .brand {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
  text-decoration: none;
  padding: 15px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header .main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1rem;
}

#header .main-nav .nav-item {
  font-size: 1rem;
  text-transform: uppercase;
  color: white;
  padding: 0 10px;
  text-decoration: none;
  transition: all .3s ease-in-out;
  font-weight: normal;
}

#header .main-nav .nav-item:hover {
  color: #1e3255;
}

.form-control {
  padding: 10px !important;
  border: 2px solid #1b2b9c;
  font-size: 1rem;
  box-sizing: border-box;
  height: auto;
  border-radius: .25rem;
  max-width: 539px;
}
