.App-link {
  color: #61dafb;
}

.left-nav {
    margin-bottom: 18px;
    border-radius: 10px;
    text-align: center;
    height: 10vh;
    box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.5);
  }
  
  .left-nav a {
    position: relative;
    top: 30%;
    color: black;
  }
  
  .left-nav a:hover {
    text-decoration: none;
    font-weight: 600;
  }