.database {
    position: relative;
    margin: auto;
    padding: 2rem 0rem;
    width: 100%;
}

table {
	width: 100%;
}

table td, table th {
	width: 18%;
	gap: 1rem;
	padding: 1rem;
	background: white;
	box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.5);
}